{% extends 'base.html.twig' %}

{% block title %}Edit BlogCommentaire{% endblock %}

{% block body %}
    <h1>Edit BlogCommentaire</h1>

    {{ include('public/blog/blog_commentaire/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_public_blog_blog_commentaire_index') }}">back to list</a>

    {{ include('public/blog/blog_commentaire/_delete_form.html.twig') }}
{% endblock %}
